<div class="max-w-2xl font-sans mx-auto">
  <div class="shadow-xl mt-4 p-6 rounded-lg hover:shadow-2xl hover:scale-103">
    <div class="text-center font-5xl">
      Pokédex
    </div>
  </div>
	
  <div class="shadow-xl mt-4 p-6 rounded-lg hover:shadow-2xl hover:scale-103">
    <div class="font-xl font-semibold border-b">Technologies Used</div>
    <div class="content">
      <ol class="list-inside">
        <li>Angular 18</li>
        <li>HTML/CSS/JS+TS</li>
        <li>Tailwind CSS Framework</li>
      </ol>
    </div>
  </div>

  <div class="shadow-xl mt-4 p-6 rounded-lg hover:shadow-2xl hover:scale-103">
    <div class="font-xl font-semibold border-b">Primary Features</div>
    <div class="content">
      <ol class="list-inside">
        <li>View Pokemons</li>
        <li>Pagination</li>
        <li>View Pokemon Details</li>
        <li>View Pokemon Abilities in Detail</li>
        <li>Pokemon stats visualized</li>
        <li>View random Pokemon</li>
				<li>Wild Card Route Management</li>
      </ol>
    </div>
  </div>

  <div class="shadow-xl mt-4 p-6 rounded-lg hover:shadow-2xl hover:scale-103">
    <div class="font-xl font-semibold border-b">Routes</div>
    <div class="content">
      <ul class="list-inside">
        <li>/dashboard : Pokemon list</li>
        <li>/about: General Information about Project</li>
        <li>/pokemon/:id : Pokemon complete information</li>
      </ul>
    </div>
  </div>
  <div class="shadow-xl mt-4 p-6 rounded-lg hover:shadow-2xl hover:scale-103">
    <div class="font-xl font-semibold border-b">Services</div>
    <div class="content">
      <ul class="list-inside">
        <li>Api service managing httpClient</li>
      </ul>
    </div>
  </div>
  <div class="shadow-xl mt-4 p-6 rounded-lg hover:shadow-2xl hover:scale-103">
    <div class="font-xl font-semibold border-b">Primary Components</div>
    <div class="content">
      <ul class="list-inside">
        <li>Navbar</li>
        <li>Dashboard</li>
        <li>DetailsPokemon</li>
        <li>Page not found</li>
      </ul>
    </div>
  </div>
  
  <div class="shadow-xl mt-4 p-6 rounded-lg hover:shadow-2xl hover:scale-103">
    <div class="font-xl font-semibold border-b">Refrences</div>
    <div class="content">
      <ol class="list-inside">
        <li class="text-blue-500 cursor-pointer"><a href="https://angular.dev/">Angular</a></li>
        <li class="text-blue-500 cursor-pointer"><a href="https://tailwindcss.com/">Tailwind</a></li>
        <li class="text-blue-500 cursor-pointer"><a href="https://pokeapi.co/">Pokemon API</a></li>
      </ol>
    </div>
  </div>
</div>