<div class="h-100 font-sans">
	<div class="flex flex-wrap m-4">
		<!-- Flex Box with Hover Elevation -->
		<a class="m-4 p-6 text-2xl text-gray-500 bg-white rounded-md shadow-md transition-transform transform hover:scale-105 hover:shadow-lg hover:text-gray-600"
		*ngFor="let pokemon of pokemons" [routerLink]="['/pokemon',pokemon.name]">
			<p>{{pokemon.name | titlecase}}</p>
		</a>
	</div>
</div>
<!-- <ul class="inline-flex -space-x-px text-base h-10">
	<li>
		<a href="#"  class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
	</li>
	<li *ngFor="let item of [].constructor(totalPages); let i = index">
		<a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{i+1}}</a>
	</li>
	<li>
		<a href="#" [class]="getPrev && !loading?'bg-blue-500 text-white':'bg-gray-300 text-gray-700'" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
	</li>
</ul> -->

<div class="w-full flex justify-center mt-8">
	<ul class="flex space-x-2">
		<li 
			class="px-3 py-2 rounded-md shadow-lg" 
			(click)="prevPage()" 
			[class]="getPrev && !loading?'bg-blue-500 text-white':'bg-gray-300 text-gray-700'"
		>Prev</li>
		<li 
			class="px-3 py-2 rounded-md shadow-lg" 
			(click)="nextPage()" 
			[class]="getNext && !loading?'bg-blue-500 text-white':'bg-gray-300 text-gray-700'"
		>Next</li>
	</ul>
</div>